header{
    text-align: center;
    color: black;
    margin-top: 1cm;
    
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

section {
    text-align: center;
    
}
body{
    text-align: center;
    background-image:url("https://i.ibb.co/khKfMLG/wallpaperbetter-com-1920x1080.jpg");
    background-color: gray;
    color: white;
    
    background-size: auto;
    
}

footer{
    text-align: center;
}

a{
    font-size: 14pt;
    text-decoration: none;
}

#principal{
    margin-top: 2cm;
    color: white;
}

