header{
    text-align: center;
    color: white;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

section {
    text-align: center;
    
}
body{
    
    background-image:url("https://wallpapercave.com/wp/361ttBB.jpg");
    background-color: white;
    color: white;
    
    background-size:auto;
    
}

footer{
    text-align: center;
}