header{
    text-align: center;
    color: black;
    background-color: white;
    position: fixed;
    height: 48px;
    width: 100%;
    top: 0;
    left: 0;
}
.navbar{
   margin-left: 50px;
   margin-right: 50px;
}

.logosap,image{
    text-align: right;
    margin-right: 90px;
}

.logos,input{
    text-align: right;
    height: 16%;
    width: 16%;
}

*{
    font-family: sans-serif;
    margin: 0;
}

body{
    text-align: center;
    background-image:url("https://i.ibb.co/khKfMLG/wallpaperbetter-com-1920x1080.jpg");
    background-color: gray;
    color: white;
    background-size: auto;
}

footer{
    text-align: center;
}


#principal{
    margin-top: 2cm;
    color: white;
}

#perfil{
    margin-top: 150px;
}

